<h1><%= @sub.name %> - <%= @topic.name %></h1>
<p><%= @topic.body %></p>
<h2>Comments</h2>

<% @topic.comments.each do |comment| %>
  <%= render 'comments/comment', { comment: comment } %>
<% end %>

<hr />
<%= link_to 'Add Comment', new_topic_comment_path(@topic) %>
<%= link_to 'Edit Topic', edit_sub_topic_path([@sub, @topic]) %>
<%= link_to 'Delete Topic', [@sub, @topic], method: :delete %>
<%= link_to 'Back To Topics', sub_topics_path(@sub) %>
